/*History*/
.widget-history ul{list-style:none;padding:0;margin:0;}
.widget-history li{padding:0;border-bottom:1px solid rgb(236,236,236);position:relative;}
.widget-history a{padding:7px 15px;display:block;line-height:20px;transition:.2s linear;font-size:13px;}
.widget-history li:hover a{color:white;}
.widget-history li:hover{background-color:#366ad3;transition:.2s linear;}
#History-Chapter .widget-history a{width:100%;}
.widget-history li{border:1px solid #ececec;margin-top:3px;margin-right:3px;border-radius:5px;}
.recently-note{float:right;top:5px;right:5px;background-color:#b4183d;color:#fff;padding:3px 6px;font-size:12px;border-radius:3px;}
.paginationy{margin-top:20px;display:flex;align-items:center;justify-content:center;}
.paginationy{margin-top:20px;display:flex;align-items:center;justify-content:center;border-top:1px solid #eceff5;padding:10px 0;}
.paginationy button{height:35px;font-size:13px;width:70px;padding:8px 12px;border:1px solid #ccc;background-color:#f9f9f9;cursor:pointer;}
.paginationy button:first-child{border-radius:100px 3px 3px 100px;}
.paginationy button:last-child{border-radius:3px 100px 100px 3px;}
.paginationy button:hover{background-color:#eef3f8;}
span#currentPage1,span#currentPage2{height:35px;font-size:13px;padding:6px 12px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background-color:#f9f9f9;color:black;}
/*Bookmark*/ 
:root {
    --completed: #0B8043;
    --dropped: #0c70de;
    --ongoing: #3367D6;
}
.clearAll{font-size:12px;color:white;background:#7b1fa2;padding:2px 12px;border-radius:4px;cursor:pointer;}
.clearAll:hover{background:#921925;}
.notice{background:#ffffcc;padding:5px 8px;border-radius:3px;margin-bottom:8px;border-left: 6px solid #ffeb3b;}
.empty-bookmark{display: block;text-align-last: center;}.gta-hpm h1{grid-area:h;}
.mark{grid-area:m;padding:5px;border-radius:.3rem;margin-bottom:1.66rem;}
.gta-hpm{display:grid;grid-template-areas:"h""m";gap:25px;}
.showBookmark{overflow:hidden;display:flex;flex-wrap:wrap;padding:10px}
.boxy{padding:0 15px 15px;flex:25%;-webkit-flex:25%;-ms-flex:25%;margin-bottom:10px;overflow:hidden;max-width:25%}
a.rcent-block{padding-top:137%;position:relative;display:block;overflow:hidden;box-shadow:0 5px 12px 0 rgb(0 0 0 / 38%);-webkit-box-shadow:0 5px 12px 0 rgb(0 0 0 / 38%)}
img.rct-thumb{position:absolute;top:0;left:0;right:0;width:100%;height:100%;object-fit:cover}
.btnRemove{cursor:pointer;display:none;font-weight:900;position:absolute;top:5px;right:5px;display:flex}
.btnRemove svg{background-color:var(--d111);color:#fff;padding:5px;width:35px;height:35px;border-radius:100%;border:2px dotted #f00}
strong.rcent-tt{position:absolute;bottom:0;width:100%;box-sizing:border-box;background:linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 30%,rgba(0,0,0,.8) 70%,rgba(0,0,0,.7) 100%);padding:3rem 1rem 16px!important;color:#ddd}
h3.rcent-ttl{font-size:14px;text-align:left;font-weight:500;height:auto;margin:0;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;overflow:hidden;color:#fff}
.rcent-inf{border-top:1px solid rgba(255,255,255,.5);margin-top:10px;padding-top:10px;font-size:12px;display:block}
.boxy:hover .btnRemove {display: block;}
.epx{background-color:var(--primary-color); color:#212121; padding:5px; border-radius:3px; font-size:.8em; -webkit-transition:all .15s; -moz-transition:all .15s; transition:all .15s; color:white;}
.Pillbutton{background-color:#ddd;border:none;color:black;padding:10px 20px;text-align:center;text-decoration:none;display:inline-block;margin:4px 2px;cursor:pointer;border-radius:16px;}
.Pillbutton:hover{background-color:#f1f1f1;}
span.epx.Completed{background-color:var(--completed);}
span.epx.Dropped{background-color:var(--dropped);}
span.epx.Ongoing{background-color:var(--ongoing);}
